@font-face {
   font-family: 'Roboto_Condensed-Black';
   font-display: swap;
   src: url('file:///C:/Users/admin/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-05-31_151646/fonts/Roboto_Condensed-Black/font.ttf');
}
