@font-face {
   font-family: 'RobotoCondensed-Regular';
   font-display: swap;
   src: url('file:///C:/Users/admin/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-05-31_151646/fonts/RobotoCondensed-Regular/font.ttf');
}
